<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Instagram Block VPN">

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
        android:name=".InstagramBlockVpnService"
        android:permission="android.permission.BIND_VPN_SERVICE"
        android:exported="true">

        <intent-filter>
            <action android:name="android.net.VpnService" />
        </intent-filter>

    </service>


    </application>

</manifest>